<div id="<?$_name?>" class="page_<?$_page?>">

    <h1>Руководство пользователя</h1>
    <p>Функционал приложения делится на две части:</p>

    <ol class="num_list">
        <li>Отбор пользователей для рассылки.</li>
        <li>Выполнение рассылки.</li>
    </ol>
    <h4>Детально:</h4>
    <ol class="num_list">
        <li>Закладка <b>Пользователи</b>. По нажатию на кнопку "Отобрать" будут отобраны подписчики, у которых дата последней рассылки <= полю "дата последней рассылки".
            Если включить флаг "все пользователи", то будет выполнен отбор по всем подписчикам, без учета даты.
            Заполненный список означает, что либо рассылка еще не была выполнена, либо по каким-либо причинам не была завершена в прошлый раз.
        </li>

        <li>Закладка <b>Отправка</b>. Для выполнения необходимо, чтобы в списке подписчиков была хоть одна запись. В полях "дата с" и "дата по" указывается период публикации статей.
        </li>
    </ol>
    <p style="font-style: italic;">Рассылка писем проходит при помощи Cron. За один раз отправится максимум писем, согласно лимиту хостинга и лимиту, установленному в настройках Рассыльщика. Лимит рассыльщика может установить только администратор СУБД.</p>

    <?$Content?>
</div>